<a href="https://colab.research.google.com/github/KILjungjoon/Project_Korean/blob/main/words_grade_%ED%91%9C%EC%A4%80ver_csv_%EC%83%9D%EC%84%B1%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
# 평가데이터 원본 불러오기
eval=pd.read_excel('/content/drive/MyDrive/KoreanProject/가공data/words_grade.xlsx')
eval=eval[['head.의미어','tail.의미어','beta']]

In [ ]:
dic=pd.read_excel("/content/drive/MyDrive/KoreanProject/가공data/우리말샘표준_대조_내용어.xlsx")
dic.head()

  우리말샘표제어 표준표제어
0    가001   가01
1    가002   가01
2    가003   가01
3    가004   가01
4    가005   가02

In [ ]:
import pandas as pd

# Create a dictionary from dic['우리말샘표제어'] to dic['표준표제어']
lookup_dict = dict(zip(dic['우리말샘표제어'].values, dic['표준표제어'].values))

# Use the lookup_dict to map head and tail in eval
new_eval = eval.copy()
new_eval['head.의미어'] = new_eval['head.의미어'].map(lookup_dict)
new_eval['tail.의미어'] = new_eval['tail.의미어'].map(lookup_dict)

# Fill any NaN values in new_eval with the original values from eval
new_eval = new_eval.fillna(eval)
new_eval = new_eval[~new_eval['head.의미어'].apply(lambda x: bool(re.search(r'\d{3,}$', x)))]
new_eval = new_eval[~new_eval['tail.의미어'].apply(lambda x: bool(re.search(r'\d{3,}$', x)))]

# save the new_eval as a csv file
new_eval.to_csv('/content/drive/MyDrive/KoreanProject/가공data/words_grade_표준ver.csv', index=False)

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/KoreanProject/가공data/words_grade.xlsx')
print(df.shape)
test = pd.read_csv('/content/drive/MyDrive/KoreanProject/가공data/words_grade_표준ver.csv')
print(test.shape)

(200005, 7)
(159495, 3)